.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  display: inline-block;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  width: 90%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;

}
.PageBody{
  display: inline-block;
  width: 90%;
  padding: 20px;
  background-color: rgb(241, 239, 236);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
